/**
 * You shouldn't have to modify any of this file
 */

 body {
	font-family: Verdana;
	margin: 0;
}

body * {
	box-sizing: border-box;
}

.app {
	height: 100vh;
	overflow-y: hidden;
	display: flex;
}

.canvas {
	width: 100%;
    height: 100%;
    cursor: crosshair;
}

/*
    NavBar
*/

.nav-bar {
    background: #59646e;
}

.nav-bar__tool {
    width: 40px;
    height: 40px;
}

.nav-bar__tool > svg {
	width: 100%;
	height: 100%;
}

.nav-bar__tool--active {
    background: #b5226e;
}

/*
Tool Panels
*/

.tool-panel {
    background: #eff0f3;
    flex-shrink: 0;
    width: 222px;
}

